/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
* { box-sizing: border-box; }

.carousel-cell {
    width: 320px; /* half-width */
    margin-right: 32px;
    counter-increment: gallery-cell;
  }
  .carousel-cell a{
    background: #FFF;
    display: block;
    overflow: auto;
    border-radius: 16px;
    transition: background-position .50s ease-in-out;
    -moz-transition: background .50s ease-in-out;
    -webkit-transition: background .50s ease-in-out;
    padding-top:32px;
}

.carousel-cell strong{
  margin: 0 32px 0 32px;
  font-size: 12px;
  line-height: 24px;
  min-height:72px;
  background: #e4e6eb;
  text-transform: uppercase;
  color: #1B222F;
  padding: 4px 12px;
  border-radius: 4px;
  font-family: 'Urbanist', Arial, Helvetica !important;
}
.carousel-cell p{
  margin: 0px 32px 0 32px;
  font-size: 13px;
  line-height: 20px;
  min-height:48px;
  color: #A5B4BB;
  font-family: 'Inter', Arial, Helvetica;
  font-weight: 400;

}
.carousel-cell h3{
  margin: 250px 24px 0px 32px;
  font-size: 28px;
  line-height: 44px;
  color: #e4e6eb;
}
.carousel-cell a div{
  background-image:linear-gradient(to top,rgb(0 0 0) 0%,rgba(26, 32, 39, 0) 65%);
}

.carousel-cell span.material-icons-outlined{
    font-size: 24px;
    line-height: 24px;
    color: #f1f1f1;
    width: 10%;
    transition: padding .40s ease-in-out;
    -moz-transition: padding .40s ease-in-out;
    -webkit-transition: padding .40s ease-in-out;
    margin: 0 24px 24px 28px;
}
.carousel-cell a:hover span.material-icons-outlined{
    padding-left:50px;
}


.carousel-cell a:hover{
    display: block;
    overflow: auto;
    text-decoration: none;
}
.carousel-cell :active{
  opacity: .5;
}

.carousel-cell a:hover{
  display: block;
  overflow: auto;
  text-decoration: none;

}


.carousel-cell.barclays a{
  background-image:url(../images/barclays/barclays-hero-v4.jpg);
  background-size: 180%;
  background-position: -115px -170px;
}

.carousel-cell.barclays a:hover{
  background-size: 200%;
  background-position: -145px -210px;
}
.carousel-cell.efc a{
  background-image:url(../images/efc/efc-hero.jpg);
  background-size: 190%;
  background-position: -148px -10px;
}

.carousel-cell.efc a:hover{
  background-size: 210%;
  background-position: -178px -30px;
}
.carousel-cell.lexus a{
  background: url(../images/lexus/lexus-hero-new.jpg);
  background-size: 195%;
  background-position: -175px -45px;
}

.carousel-cell.lexus a:hover{
  background-position: -202px -60px;
  background-size: 210%;
}
.carousel-cell.lfc a{
  background-image:url(../images/lfc/lfc-hero.jpg);
  background-size: 210%;
  background-position: -345px -25px;
}

.carousel-cell.lfc a:hover{
  background-size: 230%;
  background-position: -395px -45px;
}
.carousel-cell.playmaker a{
  background-image:url(../images/playmaker/playmaker-hero.jpg);
  background-size: 260%;
  background-position: -265px -15px;
}

.carousel-cell.playmaker a:hover{
  background-size: 290%;
  background-position: -305px -45px;
}









.carousel-cell.is-selected {
  }
.flickity-enabled {
    position: relative;

  }
  
  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    overflow: hidden;
    position: static;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- flickity-button ---- */
  
  .flickity-button {
    position: relative;
    border: 1px solid #f1f1f1;
    background: #1A202C;
    color: #f1f1f1;
  }
  
  .flickity-button:hover {
    background: white;
    cursor: pointer;
    color: #1A202C;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }
  
  .flickity-button-icon {
    fill: currentColor;
  }
  
  /* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  width: 64px;
    height: 64px;
  border-radius: 50%;
  /* vertically center */
  margin-top: 24px;
  margin-bottom: 120px;
}

.flickity-prev-next-button.previous { float: left; }
.flickity-prev-next-button.next { float: right; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 33%;
  top: 20%;
  width: 32%;
  height: 60%;
}
  
 /* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;

  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.15;
  cursor: pointer;
}
/* position dots up a bit */
.flickity-page-dots {
  bottom: -56px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}    


  @media screen and (max-width: 600px) {
       
    body {
        background-size: 250%;
        background-position-x: center;
        overflow-x: hidden;
        }
   
h2.latest-projects-title{
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 48px;
}
.carousel-cell {
width: 270px; /* half-width */
margin-right: 24px;
counter-increment: gallery-cell;
}
.carousel-cell p{
display: none;
}
.carousel-cell h3{
font-size: 24px;
line-height: 32px;
margin: 200px 24px 8px 32px;
}

.flickity-page-dots .dot {
  width: 24px;
}


.flickity-prev-next-button {

  margin-bottom: 80px;

  }

  .carousel-cell.barclays a{
    background-image:url(../images/barclays/barclays-hero-v4.jpg);
    background-size: 180%;
    background-position: -95px -170px;
  }
  
  .carousel-cell.barclays a:hover{
    background-size: 200%;
    background-position: -125px -200px;
  }
  .carousel-cell.efc a{
    background-image:url(../images/efc/efc-hero.jpg);
    background-size: 190%;
    background-position: -128px 0px;
  }
  
  .carousel-cell.efc a:hover{
    background-size: 210%;
    background-position: -158px -20px;
  }
  .carousel-cell.lexus a{
    background: url(../images/lexus/lexus-hero-new.jpg);
    background-size: 195%;
    background-position: -155px -35px;
  }
  
  .carousel-cell.lexus a:hover{
    background-position: -182px -50px;
    background-size: 210%;
  }
  .carousel-cell.lfc a{
    background-image:url(../images/lfc/lfc-hero.jpg);
    background-size: 210%;
    background-position: -290px -15px;
  }
  
  .carousel-cell.lfc a:hover{
    background-size: 230%;
    background-position: -375px -45px;
  }
  .carousel-cell.playmaker a{
    background-image:url(../images/playmaker/playmaker-hero.jpg);
    background-size: 260%;
    background-position: -245px -15px;
  }
  
  .carousel-cell.playmaker a:hover{
    background-size: 290%;
    background-position: -285px -45px;
  }