body {
    color: #8897aa;
    font-size: .9em;
    margin:0;
    padding:0;
    background: #1A202C;
}

.container{
  max-width:1180px; 
  margin:120px auto 0 auto;
  display: flex;
  position: relative;
}


.container.narrow{
    max-width:900px; 
    margin:120px auto 0 auto;
    display: block;
  }
  section{
    margin: 0;
    padding: 0;
  }

  section.project-list div.container.narrow{
    margin: 0 auto;
  }
#case-study-meta{
    display: flex;
    border-top:1px solid #202c41;
    border-bottom:1px solid #202c41;
    font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
    margin:0 0 40px 0;
     line-height: 26px;
     padding:24px 0;
}
#case-study-meta strong{
    margin: 0 32px 0 8px;
    display: block;
    font-weight: normal;
}
#case-study-summary{
    float:left;
    width:65%;
    padding-right:72px;
}
#case-study-summary h2{
font-size: 2.5em;
font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
font-weight: 300;
margin: 0 0 32px 0;
}
#case-study-aims h3{
    margin: 8px 0 32px 0;
    }
#case-study-aims{
    float:right;
width:30%;
}
ul{
margin:0 0 0 16px;
    list-style: disc;
    padding:0;
}
ul li{
    padding:0 0 8px 0;
    line-height: 1.7em;
    font-family:'Source Sans Pro', Arial, Helvetica, 'san serif';
}
nav{
    position:fixed;
    top: 16px;
    left: 16px;
}
nav ul {
   
    padding:0;
    margin:0;
    list-style: none;
    color: #8897aa;
}
nav ul li a{
    width:96px;
    height: 96px;
    border-radius: 100px;
    border: 1px solid #25384b;
    display: block;
    text-align:center;
    color: #8897aa;
    position: relative;   
}
nav ul li a span.material-icons-outlined{
    font-weight: 100;
    font-size: 40px;
    display: grid;
    align-items: center;
    width:96px;
    height: 96px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 7em;
     font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
    margin:0 0 40px 0;
     font-weight: 800;
     letter-spacing: -2px;
     color: #fff;
     background-image: linear-gradient(80deg, #3c4a65, #FFFFFF);
     background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h2 {
    font-size: 2.8em;
     font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 800;
     margin: 0 0 32px 0;
          color: #fff;
}
h2.larger-h2{
    font-size: 4em; 

}
h3 {
    font-size: 1.8em;
     font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 300;
     margin: 0 0 32px 0;
     color: #fff;
     line-height: 1.4em;
}
h3.template-features {
    font-size: 1.5em;
}
.center{
    text-align: center;
}
p {
    line-height: 1.7em;
    color: #8897aa;
    font-family:'Source Sans Pro', Arial, Helvetica, 'san serif';
    font-weight:300;
    margin: 0 0 32px 0;
}
p  strong{
font-weight: 700;
}
img{
    width: 100%;
}
/*div{border:1px solid #fff;}*/

.sticky-content{
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: 4%;
}
.hero-image{
background-attachment: fixed;
background-repeat: no-repeat;
background-size:cover; 
background-position: center;
height: 600px;
clear: both;
margin-top:120px;
}
.hero-image.playmaker{
    background-image: url("../images/playmaker/playmaker-hero.jpg");
}
.hero-image.playmaker-templates{
    background-image: url("../images/playmaker/playmaker-template-hero.jpg");
    height: 300px;
}
.hero-image.playmaker-templates h2 {
    font-size: 5em;
    color: #fff;
    display: grid;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 100%;
}
.screenshot-info-left{
    float: left;
   width:30%;
   position: relative;
   margin-top:40px;
   height: 99%;
}
.screenshot-info-right{
    float: right;
    width: 30%;
    margin-top: 40px;
    position: absolute;
    right: 0;
    height: 99%;
}
.screenshot-right{
    float: right;
    width:65%;
   margin-left:80px;
}
.screenshot-left{
    float: left;
    width:65%;
   margin-right: 80px;
}
.screenshot-left img, .screenshot-right img{
box-shadow: 10px 40px 60px rgb(0, 0, 0, 0.2);
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    clear: both;
    display: block;
}
footer ul{
    clear: both;
    display: block;
}

.carousel{
margin: 0 auto;
   width:1024px;
}
.carousel-inner{
    box-shadow: 10px 40px 60px rgb(0, 0, 0, 0.2);
}
.carousel-indicators{
    position: relative;
   margin-top: 40px;
}
.carousel-indicators li{
    background-color: #8897aa;
}
.carousel-control-prev{
    width: auto !important;
    /*float: left;
    position: relative !important;
    margin-top: 24px;*/
    top:0 !important;
    bottom: 88px !important;
    left: -48px;
    opacity: 1;
}
.carousel-control-next{
    width: auto !important;
    /*float: right;
    position: relative !important;
    margin-top: 24px;*/
    top:0 !important;
    bottom: 88px !important;
    right: -48px;
    opacity: 1;
    
}
.carousel-control-next:hover, .carousel-control-prev:hover{
opacity: 1;

}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background: none;
    width: 88px;
    height: 88px;
    display: block;
    border: 1px solid #25384b;
    border-radius: 100px;
    padding: 28px 0 0 0;
    background: #1A202C;
}
.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover, .carousel-control-next-icon:focus, .carousel-control-prev-icon:focus{
    color: #fff;
    border: 1px solid #3d5166;
    opacity: 1;
}
.carousel-control-next-icon.material-icons-outlined, .carousel-control-prev-icon.material-icons-outlined{
    font-size: 32px;
    color: #8897aa;
}

section div.container{
    display: block;
    margin: 0 auto;
}
section.project-list{
    background-color:#151A23 ;
    padding: 120px 0 120px 0;
    margin-top: 120px;
    clear: both;
  }

  section.project-list ul{
    list-style: none;
    margin: 0;
    pad: 0;
  }
  section.project-list ul li a{
    border-bottom:1px solid #202c41;
    padding: 60px 0 60px 0;
    display: block;
    font-size: 1.3em;
    color: #8897aa;
  }
  section.project-list ul li a.active:hover span{
    right: 30px;
margin-top: -90px;
  }
  section.project-list ul li a strong{
    display: block;
    margin: 0 0 12px 0;
    padding: 0;
    font-size: 2em;
    line-height: 1em;
     font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 300;
     color: #fff;
  }
  section.project-list ul li a span{
  position: absolute;
  right: 30px;
    font-size: 88px;
    margin-top:-60px;
    transition: all 0.3s ease-out;

  }
  section.project-list ul li a:hover span{
    right: 0px;
    }
    section.project-list ul li a:hover{
        text-decoration: none;
        color:#8897aa; 
    }
    section.project-list ul li a:hover strong{
        color:#8897aa; 
    }

    @media screen and (max-width: 600px) {
        .container{
            max-width:90%; 
            margin:60px auto 0 auto;
            display: block;
            position: relative;
          }
          .container.narrow{
              max-width:90%; 
              margin:60px auto 0 auto;
              display: block;
            }
            h1 {
                font-size: 5em;
            }
            p {
                font-size: 1.2em;
            }
            #case-study-summary{
                float:none;
                width:100%;
                padding-right:0;
            }
            #case-study-aims{
                float:none;
            width:100%;
            }
            #case-study-meta{
                display: inline-block;
                width: 100%;
            }
            #case-study-meta span{
               float: left;
                margin:0 16px 8px 0;
            }
            #case-study-meta strong{
                display: block;
                width: 100%;
                margin-bottom: 8px;
            }
            .screenshot-info-left{
                float: none;
               width:100%;
               position: relative;
               margin:40px 0;
               height: auto;
            }
            .screenshot-info-right{
                float: none;
                width: 100%;
                margin: 40px 0;
                position: relative;
                right: ;
                height: auto;
            }
            .screenshot-right{
                float: none;
                width:100%;
               margin-left:0;
            }
            .screenshot-left{
                float: none;
                width:100%;
               margin-right: 0;
            }
      }