body {
    color:#25384b;
    font-size: 1em;
    margin:0;
    padding:0;
    background: #d7d7d7;
}

.container{
  max-width:1280px; 
  margin:120px auto 0 auto;
  display: flex;

}
.container.narrow{
    max-width:900px; 
    margin:120px auto 0 auto;
    display: block;
  
  }
#case-study-meta{
    display: flex;
    border-top:1px solid #8ea0b1;
    border-bottom:1px solid #8ea0b1;
    font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
    margin:0 0 40px 0;
     font-weight: 800;
     line-height: 26px;
     padding:24px 0;
}
#case-study-meta strong{
    margin: 0 32px 0 8px;
    display: block;
}
#case-study-summary{
    float:left;
    width:60%;
    padding-right:72px;
}
#case-study-summary h2{
font-size: 2.5em;
font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
font-weight: 300;
margin: 0 0 32px 0;
}
#case-study-aims h3{
    margin: 8px 0 32px 0;
    }
#case-study-aims{
    float:right;
width:30%;
}
ul{
margin:0 0 0 16px;
    list-style: disc;
    padding:0;
}
ul li{
    padding:0 0 8px 0;
    line-height: 1.7em;
    font-family:'Source Sans Pro', Arial, Helvetica, 'san serif';


}
nav{
    position:fixed;
    top: 40px;
    left: 40px;
}
nav ul {
   
    padding:0;
    margin:0;
    list-style: none;
}
nav ul li a{
    width:100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #25384b;
    display: block;
    text-align:center;
    color: #25384b;
    position: relative;   
}
nav ul li a span.material-icons-outlined{
    font-weight: 100;
    font-size: 40px;
    display: grid;
    align-items: center;
    width:100px;
    height: 100px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 8em;
     font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
    margin:0 0 40px 0;
     font-weight: 800;
     letter-spacing: -4px;
}
h2 {
    font-size: 4em;
     font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 800;
     margin: 0 0 32px 0;
}
h3 {
    font-size: 2em;
     font-family:'Figtree','Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 300;
     margin: 0 0 32px 0;
}
p {
    font-size: 1.05em;
    line-height: 1.7em;
    color: #333;
    font-family:'Source Sans Pro', Arial, Helvetica, 'san serif';
    font-weight:300;
    margin: 0 0 32px 0;
}
p  strong{
font-weight: 700;
}
img{
    width: 100%;
}
.hero-image{
background: url("../images/test.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
background-size:cover; 
background-position: center;
height: 600px;
clear: both;
margin-top:120px;
}
.hero-image h2 {
    font-size: 5em;
    color: #d5d5d5;
    display: grid;
    align-items: center;
    text-align: center;
    height: 600px;
    width: 100%;
}
.screenshot-info{
    float: left;
   width:30%;
   margin-top:40px;
}
.screenshot-right{
    float: right;
    width:65%;
   margin-left:80px;
}
.screenshot-left{
    float: left;
    width:65%;
   margin-right: 80px;
}
.screenshot-left img, .screenshot-right img{
border-radius: 16px;
box-shadow: 10px 40px 60px rgb(0, 0, 0, 0.2);
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    clear: both;
    display: block;
}
footer ul{
    clear: both;
    display: block;
}

